#navbar {
  width: 100%;
  background-color: rgba(47, 23, 15, 0.9);
  .nav-container ul {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-weight: bold;

    li a {
      color: white;
      transition:all 200ms;
    }
    li a:hover {
      color: gray;
    }
  }
  .navbar-name a {
    display: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 3;
    color: #e6a756;

  }
  .navbar-btn {
    display: none;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    height: 50px!important;
    transition: all 500ms;
  }
}
@media only screen and (max-width: 1100px) {
  #navbar {
    display: flex;
    padding: 20px;
    justify-content: space-between;


    .navbar-name a {
      display: block;
  
    }
    .navbar-btn {
      display: block;
  
    }

    .nav-container ul{
      position: absolute;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      display: none;
      left: 30px;
      top: 100px;
  
      gap: 20px;
    }
  }
}
.navbarcl{
  height: 300px;
}
.ulcl{
  display: flex!important;
}
